*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("../images/TwoSkyCompressed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: fantasy;

}
.navJog{
    width: 50px;
    height: 50px;
    background-image: url('../images/Nave.png');
    background-repeat: no-repeat;
    position: absolute;

}
#painel{
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#medidorPlaneta{
    width: 250px;
    height: 20px;
    background-color: #585858bb;
}
#barraPlaneta{
    border: 2px solid rgb(2, 2, 2);
    width: 250px;
    height: 20px;
    background-color: #811a9b;
   
}
#statusPlaneta{
    color: #fff;
    text-align: center;
}
.drawnFire{
    width: 5px;
    height: 8px;
    background-color: red;
    position: absolute;

}
.asteroidForm{
    width: 60px;
    height: 60px;
    background-image: url('../images/Asteroid.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

}
#contBombas{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.teste{
    display: none;
    width: 50vh;
    height: 35%;
    position: fixed;
    top: 25%;
    left: 40%;   
    background-color: #72078d;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.btn{
    margin-top: 8px;
    padding: 4px;
    background-color: #9cabb9;
    border: none;
    border-radius: 4px;
    color: whitesmoke;
}
.btn:hover{
    cursor: pointer;
}
#telaMsg{
    width: 60%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 20%;   
    background-color: #72078d;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    text-shadow: 2px 2px 3px rgb(104, 98, 98);
}